<% provide(:title, 'For Reading Online') %>

<div class="border-wrapper">

<h1><em>Gloss is —</em></h1>

<p>…a highlighter for the Internet.</p>

<p>…a bookmarklet that makes sentences highlightable for anything you read online. Click a sentence, and it gets saved to your account.</p>

<p>…a place for those sentences you want to keep. Return to see the things you’ve read, month by month.</p>

<p class="signature">❦</p>

</div>