<% provide(:title, 'For Reading Online') %>

<h1>Gloss is a bookmarklet for reading online. Any sentence can be highlighted with a click.</h1>

<p>When you read something online and want to respond to it, there are many ways to do so: leave a comment on the article, post to Twitter or Facebook, or write a response on your blog. But a frequent refrain is that comments are toxic, or that social media is shrill and devoid of substance.</p>

<p>Responding in public used to be hard; if someone visited your house and spotted a particular book, you might show them some notes you’d left in the margins. Or you may write a letter to a newspaper with your thoughts on a piece, whether you enjoyed it, or found something inaccurate, or got disgusted by it.</p>

<p>Please don’t take this as misguided nostalgia for a past when everyone was wiser and more polite; I suspect that if we could see all those notes and letters at once today, we’d call it noisy, too. The slowness of what people in the past could say and the limits of the communities where those opinions travelled meant that any one person got only a small glimpse of what was thought, said, or written.</p>