<% provide(:title, 'For Reading Online') %>

<div class="border-wrapper">

<h1>Gloss is —</h1>

<p>…a highlighter for the Internet.</p>

<p>…a bookmarklet you install, to use any time you’re reading something online. It makes any sentence highlightable. Click the sentence, and it gets saved to your account.</p>

<p>…a place for the sentences you’d like to keep. Return to see the things you’ve read, month by month.</p>

<p>…in private beta, for now.</p>

</div>