@import "vars";

* {
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fafaf0;
  font-family: $serif-10;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $serif-10;
  line-height: 1.3;
  font-weight: 400;
  margin: 0 0 10px 0;
}

h1 { font-size: 32px; }
h2 { font-size: 28px; }
h3 { font-size: 24px; }
h4 { font-size: 22px; }
h5 { font-size: 18px; }
h6 { font-size: 14px; }

p {
  font-family: $sans-10;
  font-size: 16px;
  line-height: 1.4;
}

span.extend-p {
  @extend p;
  display: block;

  a { border-bottom: 1px solid #aaa; }
  a:hover { text-decoration: none; border-bottom: 1px solid #333; }

  & + & {
    margin-top: 15px;
  }
}

a {
  color: #000;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

@keyframes msg-appear {
  0%, 100% { top: -50px; left: 15px; }
  20%, 80% { top: 15px; left: 15px; }
}

@-webkit-keyframes msg-appear {
  0%, 100% { top: -50px; left: 15px; }
  20%, 80% { top: 15px; left: 15px; }
}

.notice, .alert {
  position: absolute;
  margin: 0;
  text-align: center;
  width: 100%;

  top: -50px;
  left: 15px;
  animation: msg-appear 3s ease-in 1 alternate;
}

.notice {
  color: #2bbe3c;
}

.alert {
  color: #f10d00;
}

#notice {
  color: green;
}

label {
  display: block;
  display: none;
  margin-bottom: 10px;

  &.user_remember_me {
    display: inline;
    font-family: $sans-10;
    font-size: 13px;
  }
}

input {
  border: 0;
  padding: 12px 10px;
  margin: 0 0 20px 0;
  border: solid 1px #ddd;

  width: 100%;
  min-width: 240px;
  max-width: 300px;
  
  border-radius: 3px;

  font-size: 16px;
  font-family: $sans-10;
  color: #000;

  background-color: rgba(255,255,255,0);
  transition: all 0.2s ease;

  &:focus {
    background-color: rgba(255,255,255,1);
    border: solid 1px #ccc;
    transition: all 0.2s ease;
  }

  &#user_remember_me {
    width: auto;
    margin-right: 5px;
  }
}

input:focus::-webkit-input-placeholder  { color: #ccc; }
input:focus::-moz-placeholder           { color: #ccc; }
input:focus:-ms-input-placeholder       { color: #ccc; }

input[type="submit"] {
  background-color: #b5656d;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 0;
}

input:focus {
  outline: none;
}

.field_with_errors {
  input {
    border-color: #ffa19c;
  }
}

#error_explanation {
  margin-bottom: 20px;
  h2 { display: none; }
  ul li {
    font-family: $sans-10;
    font-size: 13px;
    color: #f10d00;
    list-style: none;
  }
}

/*
    Miscellany
*/

ol, ul {
  margin: 0px;
  padding-left: 0px;
}

ol, ul, td {
  font-family: $sans-10;
  font-size: 13px;
  line-height: 1.4;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}