/*  
    Licensed from Commercial Type
*/

@font-face {
  font-family: 'Portrait Web';
  src: url('http://tealtan.webfactional.com/portrait/Portrait-Regular-Web.eot');
  src: url('http://tealtan.webfactional.com/portrait/Portrait-Regular-Web.eot?#iefix') format('embedded-opentype'),
     url('http://tealtan.webfactional.com/portrait/Portrait-Regular-Web.woff') format('woff'),
     url('http://tealtan.webfactional.com/portrait/Portrait-Regular-Web.ttf') format('truetype'),
     url('http://tealtan.webfactional.com/portrait/Portrait-Regular-Web.svg#Portrait Web') format('svg');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Portrait Web';
  src: url('http://tealtan.webfactional.com/portrait/Portrait-RegularItalic-Web.eot');
  src: url('http://tealtan.webfactional.com/portrait/Portrait-RegularItalic-Web.eot?#iefix') format('embedded-opentype'),
     url('http://tealtan.webfactional.com/portrait/Portrait-RegularItalic-Web.woff') format('woff'),
     url('http://tealtan.webfactional.com/portrait/Portrait-RegularItalic-Web.ttf') format('truetype'),
     url('http://tealtan.webfactional.com/portrait/Portrait-RegularItalic-Web.svg#Portrait Web') format('svg');
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
}