@import "vars";

#shell {
  @extend .grid-container-col12;
  padding: 70px 70px 0 70px;

  .highlights-single & {
    padding: 0;
  }
}

nav {
  position: fixed;
  bottom: 20px;
  left: 40px;

  width: 200px;

  .container {
    position: relative;
  }

  ul {
    position: absolute;
    bottom: 0px;
  }


  li {
    list-style-type: none;
    color: #ccc;
    font-family: $sans-10;
    font-size: 13px;
    line-height: 26px;

    .logo {
      font-family: $serif-10;
      font-weight: 400;
      font-size: 18px;
      color: #000;
    }

    a, a:hover, a:visited, a:active {
      text-decoration: none;
      -webkit-font-smoothing: subpixel-antialiased;
    }
    a       { color: #ccc; }
    a:hover { color: #333; }
  }
}

aside {
  @extend .grid-width-col2;
  padding-right: 30px;
  float: left;

  p {
    font-size: 13px;
  }
}

.content {
  @extend .grid-width-col10;
  @extend .grid-offset-col2;
  background-color: #fff;
  padding: 70px;

  h1 {
    max-width: 800px;
  }

  p {
    font-size: 18px;
  }
}

.fullbleed-content {
  background-color: #fff;
  padding: 0px;
}

.border-wrapper {
  padding: 50px;
  border: 3px solid #e5e5e5;
  border-radius: 6px;
  max-width: 410px;
  margin: 0 auto;
}

.pagination {
  width: 500px;
  margin: 50px auto 0 auto;
  padding: 0px;

  li {
    display: inline-block;
    a { margin-right: 10px; }
    font-family: $sans-10;
    font-size: 14px;
  }
}

@keyframes glow {
  0%, 100% { box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.25); }
  20%, 80% { box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.1); }
}

@-webkit-keyframes glow {
  0% { box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.05); }
  100% { box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.15); }
}

a#bookmarklet {
  padding: 5px;
  background-color: #FFF461;
  color: #000;
  font-weight: 500;
  text-decoration: none;
  border-radius: 3px;
  box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.05);
  animation: glow 1.5s ease-in infinite alternate;
  transition: box-shadow 0.3s linear;
}

.button-action {
  display: block;
  padding: 10px 10px 8px 10px;
  margin: 15px 0;
  border: 1px solid #e5e1de;
  border-radius: 3px;

  text-decoration: none;
  font-family: $sans-10;
  font-size: 13px;
  color: #666;
  text-align: center;

  transition: background-color 0.15s linear;

  &:hover {
    color: #666;
    background-color: #e5e1de;
    border: 1px solid #e5e1de;
    text-decoration: none;
    transition: background-color 0.15s linear;
  }
}

.inline-secondary-links {
  margin-top: 20px;

  a {
    font-family: $sans-10;
    font-size: 13px;
    display: inline-block;
    color: #ccc;

    &:hover {
      text-decoration: none;
      color: #000;
    }
  }
}

.signature {
  text-align: center;
  font-size: 22px;
  color: #be0a00;
  margin-bottom: 0px;
}