<% provide(:title, 'All Highlights') %>
<% provide(:page_class, 'highlights-index') %>

<div class="content">
  <h1>Highlights</h1>
  
  <div class="highlights-listing">
    <% @highlights_by_month.each do |month_year, highlights| %>
      <h2><%= month_year %></h2>
      <ul>
    
       <% highlights.each do |highlight| %>
         <li>
          <%= link_to highlight.page_title, root_url + '/from?title=' + url_encode(highlight.page_title) + "&username=" + url_encode(current_user.username) %>
        </li>
       <% end %>
    
      </ul>
    <% end %>
  </div><!--end .highlights-index-->

</div><!--end .content-->